[Unit]
Description=Android Debug Bridge (ADB) Server
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/adb -a -P 5037 fork-server server
ExecStop=/usr/bin/adb kill-server
Restart=on-failure
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
